{% extends 'layout.html' %}

{% block content %}
<!-- 这里是子模板填充的内容 -->
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <blockquote class="layui-elem-quote layui-text">
            {{ page_loc }}
        </blockquote>
        <div class="layui-card">
            <div class="colorbar">
                <span class="left_text">{{ min_N2 | round(2) }}</span>
                <span class="right_text">{{ max_N2 | round(2) }}</span>
            </div>
            <div id="map_container"></div>
            <div class="status" style="bottom: 68px;"></div>
        </div>
    </div>
</div>
<style>
    .colorbar {
        width: 269px; height: 20px; position: absolute; top: 25px; right: 160px;
        /* global 94%+ browsers support */
        background: linear-gradient(0deg, #FF0000 0%, #0000FF 100%);
        /* safari 5.1+,chrome 10+ */
        background: -webkit-linear-gradient(0deg, #FF0000 0%, #0000FF 100%);
        /* ff 3.6+ */
        background: -moz-linear-gradient(0deg, #FF0000 0%, #0000FF 100%);
        /* opera 11.10+ */
        background: -o-linear-gradient(0deg, #FF0000 0%, #0000FF 100%);
        /* ie 10+ */
        background: -ms-linear-gradient(0deg, #FF0000 0%, #0000FF 100%);
    }
    .colorbar .left_text{  top: 22px;  position: absolute;  left: -13px; font-size: 16px; }
    .colorbar .right_text{  position: absolute; top: 22px;  left: 255px; font-size: 16px; }

</style>
<script src="{{ url_for('static', filename='js/amaputils.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=2.0&key=b951be3b4b0e36ad45b910426f4d7131&plugin=AMap.Geocoder"></script>
<script type="text/javascript">

    let dom = $('#map_container')[0];
    let h = dom.currentStyle ? dom.currentStyle['height'] : getComputedStyle(dom, 'height');
    let tall = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    dom.style.height = (tall - 200) + 'px';

    bdys = {{boundarys}}    // 接收数据
    var map = new AMap.Map("map_container", {
        resizeEnable: true,
        rotateEnable: true,
        pitchEnable: true,
        zoom: 16,
        pitch: 0,  //65
        rotation: 0,  //45
        viewMode: '3D', //开启3D视图,默认为关闭
        zooms: [2, 20],
        center: bdys[0][0]
    });


    AMap.plugin([
        'AMap.ControlBar',
    ], function () {
        // 添加 3D 罗盘控制
        map.addControl(new AMap.ControlBar({
            position: {
                left: '20px',
                top: '20px'
            },
            showControlButton: true,  // 是否显示倾斜、旋转按钮。默认为 true
        }));
    });


    // 将实时位置显示在左下角
    var marker = new AMap.Marker();
    map.on('mousemove', function (e) {
        $('.status').html("当前位置： " + e.lnglat.getLng() + ', ' + e.lnglat.getLat());
    });

  function addPolygon(data, color) {
    let polygon = new AMap.Polygon({
      path: data,
      fillColor: 'rgb('+color+')',
      strokeOpacity: 1,
      fillOpacity: 0.5,
      strokeColor: 'rgb('+color+')',
      strokeWeight: 1,
      strokeStyle: 'dashed',
      strokeDasharray: [5, 5],
    });
    polygon.on('mouseover', () => {
      polygon.setOptions({
        fillOpacity: 0.9,
      })
    })
    polygon.on('mouseout', () => {
      polygon.setOptions({
        fillOpacity: 0.5,
      })
    })
    map.add(polygon);
  }
  colorbar = {{ colorbar }}
  for(let i=0; i< bdys.length; i++){
     addPolygon(bdys[i], colorbar[i]);
  }
</script>
{% endblock %}
